*{
	padding: 0px;
	margin: 0px;
	font-family: arial;
	box-sizing: border-box;
}
.content-opciones{
	display: flex;
	align-items: center;
}
.content-opciones li{
	padding: 5px;
	margin: 10px;
	list-style: none;
	font-size: 18px;
	cursor: pointer;
}
.content-opciones li:hover{
	text-decoration: underline;
}
.content-opciones .btn-descargar{
	color: blue;
	background: #f5f5f5;
}
.content-opciones .file{
	width: 100px;
	z-index: -1;
}
.content-area{
	max-width: 100vw;
	max-height: 200px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #f5f5f5;
}
.content-area .grafo{
	padding: 10px;
	height: 40px;
	margin: 10px;
	border: 1px solid #c2c2c2;
	cursor: pointer;
}
.content-area .grafo_sele{
	padding: 10px;
	height: 40px;
	margin: 10px;
	background: #c2c2c2;
	transition: 0.2s all ease;
	cursor: pointer;
}
.content-area legend{
	margin-left: 10px;
	padding: 5px;
	cursor: pointer;
}
.content-area legend:hover{
	text-decoration: underline;
}
.content-camino{
	margin: 10px;
	font-size: 18px;
}
.content-camino p{
	margin-top: 5px;
}
.content-datos{
	padding: 10px;
	font-size: 20px;
}
.content-datos li{
	padding: 5px;
	box-shadow: 0px 1px #c2c2c2;
}
.content-datos .caja{
	padding: 5px;
	border: none;
	font-size: 20px;
	box-shadow: 0px 1px #c2c2c2;
	outline: none;
}
.content-datos .btn{
	padding: 5px;
	background: none;
	border: 1px solid #c2c2c2;
	font-size: 17px;
	transition: 0.1s all ease;
	cursor: pointer;
}
.content-datos .btn:hover{
	color: #d9331c;
}
.content-asociacion{
	padding: 5px;
	display: flex;
	align-items: center;
}
.content-asociacion .caja{
	padding: 10px;
	border: none;
	box-shadow: 0px 2px #c2c2c2;
	font-size: 18px;
	outline: none;
}
.content-asociacion .btn{
	background: none;
	border: none;
	color: #d9331c;
	padding: 5px;
	font-size: 17px;
	cursor: pointer;
}
.content-asociacion .btn:hover{
	text-decoration: underline;
}
.content-modal{
	width: 100vw;
	height: 100vh;
	background: rgb(0,0,0,0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0px;
	top: 0px;
}
.content-modal .content-option{
	margin: 50px;
	padding: 20px;
	border: 1px solid #c2c2c2;
	background: #f5f5f5;
}
.content-modal .content-option .caja{
	width: 100%;
	font-size: 20px;
	color: #353535;
	margin: 10px;
	padding: 5px;
	display: flex;
}
.caja-check{
	margin: 10px;
	font-size: 20px;
	cursor: pointer;
}
.content-option .btn{
	padding: 5px;
	font-size: 17px;
	border-radius: 5px;
	border: 1px solid #c2c2c2;
	margin-left: 10px;
	cursor: pointer;
}
.tabla{
	background: #f5f5f5;
}
.tabla td{
	border: 1px solid #c2c2c2;
	padding: 10px;
	cursor: pointer;
}
.tabla td:hover{
	background: #c2c2c2;
}